<div class="container bg-primary-subtle p-4 t-2" >
  <div class="row">
    <div class="col-6 m-auto">
      <h1 class="text-center">Cadastro de Alunos</h1>
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">Matrícula</label>
          <input 
          type="text" 
          class="form-control" 
          name="matricula" 
          id="matricula">
          <div id="registrationHelp" class="form-text">Essa informação é confidencial.</div>
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input 
          type="text" 
          class="form-control" 
          name="nome" 
          id="nome">
          <div id="nameHelp" class="form-text">Deve-se colocar o nome completo do Aluno.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Endereço de e-mail</label>
          <input 
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Esse e-mail é confidencial.</div>
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <input 
          type="text" 
          class="form-control" 
          name="curso" 
          id="curso">
          <div id="nameHelp" class="form-text">Deve-se colocar um curso válido.</div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>

    </div>
  </div>
</div>