<div class="container bg-success-subtle p-4 t-2 my-4">
    <div class="row">
        <div class="col-6 m-auto">
            <h1 class="text-center">Cadastro de Alunos</h1>
            <form [formGroup]="formsGroupStudent">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" formControlName="name">
                    <small class="text-danger" *ngIf="isError && name.hasError('minlength')">
                        *Nome tem que no mínimo 3 caracteres
                    </small>
                    <small class="text-danger" *ngIf="isError && name.hasError('required')">
                        *O nome é necessário
                    </small>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Endereço de e-mail</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                    <div id="emailHelp" class="form-text">Esse e-mail é confidencial.</div>
                </div>
                <div class="mb-3">
                    <label for="curso" class="form-label">Curso</label>
                    <input type="text" class="form-control" id="curso" formControlName="course">
                    <small class="text-danger" *ngIf="isError && course.hasError('required')">
                        *Campo requerido!!
                    </small>
                </div>
                <button type="submit" class="btn btn-primary p-2" (click)="save()">Salvar</button>
            </form>
        </div>
        <div class="col-9 m-auto mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Curso</th>
                        <th scope="col" class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <th scope="row">{{student.id}}</th>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.course}}</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-danger" (click)="delete(student)">Remover</button>
                            <button type="button" class="btn btn-dark" (click)="edit(student)">Alterar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>